<!--importando partials-->
<%-include('partials/header.ejs')%>

<body>
    <!--importando partials-->
    <%-include('partials/navbar.ejs')%>

    <div class="container">
        <div class="card" id="form-pergunta">
            <div class="card-header">
                <h3>Faça uma pergunta!</h3>
            </div>

            <div class="card-body">
                <form method="POST" action="/salvarpergunta">
                    <br>
                    <hr>
                    <label>Título:</label>
                    <input name="titulo" type="text" placeholder="título da sua pergunta" class="form-control">
                    <br>
                    <label>Descrição:</label>
                    <textarea name="descricao" placeholder="descreva sua pergunta aqui" class="form-control"></textarea>
                    <br>
                    <button class="btn btn-dark">perguntar!</button>
                </form>
            </div>
        </div>
    </div>
</body>

<!--importando partials-->
<%-include('partials/footer.ejs')%>


